@import "./styles/reset.scss";
@import "./styles/nav-main.scss";



*{
  justify-content: center;

}

body {
  background-color: #1d3c56;
  color: white;
  font-family: Helvetica, sans-serif;
}


header {
  // border: 4px solid $color;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 125px;
  left: 0px;
  top: 0px;
  background-color: hwb(235 7% 84% / 0.278);

}

.title {
  font-size: 32px;
  font-weight: bold;
}

.main-nav {
  // position: relative;
  right: -210px;
  display: flex;
  gap: 20px;
  position: absolute;
  width: 170px;
  height: 50px;
  right: 150px;
  top: 37px;

}

.modal-container {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  // display: none;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.modal-container.show{
  pointer-events: auto;
  opacity:1;
}

.player-info-inner-1 {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 343px;
  top: 675px;
}

.player-info-inner-2{
  position: absolute;
  width: 200px;
  height: 300px;
  left: 688px;
  top: 675px;
}

.playerTeam > img{
  width:50px;
  height: 50px;
}

.modal {
  color: black;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
}

.modal h1 {
  margin: 0;
}

.modal p {
  font-size: 14px;
  opacity: 0.7;
}

.main-logo-items {
  font-weight: 700;
  font-size: 35px;
  font-family: sans-serif;
  position: absolute;
  width: 459px;
  height: 60px;
  left: 50px;
  top: 32px;
}

.link-logo {
  width: 30px;
  height: 30px;
  
}

.site-logo{
  width: 50px;
  height: 50px;
  float: left;
}

// nav {
//   display: block;
//   position: relative;
//   float: left;
// }



main {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
}

// .players-section{
//   border: 4px solid yellow;
// }

.players-section {
  position: absolute;
  // width: 245px;
  height: 450px;
  left: 120px;
  top: 175px;
  display: flex;
  // margin: 30px 0px;
  justify-content: start;
  background-color: hwb(235 7% 84% / 0.278);
  .players-container {
    display: flex;
    flex-direction: column;
    width: 175px;
    min-width: 175px;
    max-height: 800px;
    // border: 2px double rgba(222, 178, 66, 0.927);
    // border-radius: 10px;
    padding: 10px;
    h2 {
      text-align: center;
      margin: 10px 0 15px;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8);
    }
    .searchbox {
      margin-bottom: 10px;
      .searchbar {
        border: 1px solid rgb(235, 235, 235);
        max-width: 135px;
        width: 135px;
        height: 25px;
        border-radius: 3px;
        padding: 0px 20px;
        margin: 0 auto;
      }
    }
    #player-selection-container {
      overflow-y: scroll;
       
      .player-container {
        margin-left: 0px;
        .players{
          margin: 0 auto;
        }
        .player-name {
          position: relative;
          // top: 10px;
          // left: 60px;
          text-align: center;
          font-size: 20px;
          width: 115px;
        }
        .player-name:hover {
          color: rgb(245, 217, 105);
        }
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

.players{
  width: 100px;
  height: 50px;
}

.players img{
  width: 100%;
  height: auto;
}


.bar-chart{
  background-color: hwb(235 7% 84% / 0.278);
  position: absolute;
  width: 559px;
  height: 550px;
  left: 400px;
  top: 175px;
}

#statsChart{
  width: 500px;
  height: 500px;
}

ul {
  list-style: none;
}

#buttons-section{
  position: absolute;
  width: 340px;
  height: 450px;
  right: 50px;
  top: 175px;
  background-color: hwb(235 7% 84% / 0.278);
}

// #buttonsSection h1 {
//   text-align: center;
//   margin-left: 0;
// }

.selected {
  background-color: #dab847 ;
  color: #1f1f1f;
}

#statistics li:hover {
  cursor: pointer;
  background-color: #dab847;
  color: #1f1f1f;
  opacity: 90%;
  transition-duration: 0.3s ;
}

// .player-info-section{
//   width: 300px;
//   // border: 2px double rgba(222, 178, 66, 0.927);
// }