@import "./styles/reset.scss";
@import "./styles/nav-main.scss";



header {
  border: 4px solid $color;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: hwb(235 7% 84% / 0.278);

}

// .main-nav{
//   flex-wrap: wrap;
// }


.link-logo{
  width: 2%;
}

// nav {
//   display: block;
// }

body {
  background-color: #1d3c56;
  color: white;

}

main {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
}

// .players-section{
//   border: 4px solid yellow;
// }

.players-section {
  display: flex;
  margin: 30px 50px;
  justify-content: start;
  .players-container {
    display: flex;
    flex-direction: column;
    width: 175px;
    min-width: 175px;
    max-height: 800px;
    border: 2px double rgba(222, 178, 66, 0.927);
    // border-radius: 10px;
    padding: 10px;
    h2 {
      text-align: center;
      margin: 10px 0 15px;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8);
    }
    .searchbox {
      margin-bottom: 10px;
      .searchbar {
        border: 1px solid rgb(235, 235, 235);
        max-width: 135px;
        width: 135px;
        height: 25px;
        border-radius: 3px;
        padding: 0px 20px;
      }
    }
    #player-selection-container {
      overflow-y: scroll;
      .country-container {
        margin-left: 0px;
        .country-name {
          position: relative;
          top: -20px;
          left: 60px;
          font-size: 12px;
          width: 115px;
        }
        .country-name:hover {
          color: rgb(245, 217, 105);
        }
      }
    }
  }
}

.players{
  width: 100px;
  height: 150px;
}

.players img{
  width: 100%;
  height: auto;
}


.wrapper{
  display: block;
  height: 800px;
  width: 725px;
}

ul {
  list-style: none;
}

#buttons-section{
  margin: 90px;
}

// #buttonsSection h1 {
//   text-align: center;
//   margin-left: 0;
// }

.selected {
  background-color: #dab847 ;
  color: #1f1f1f;
}

#statistics li:hover {
  cursor: pointer;
  background-color: #dab847;
  color: #1f1f1f;
  opacity: 90%;
  transition-duration: 0.3s ;
}