@import "./styles/reset.scss";
@import "./styles/nav-main.scss";



header {
  border: 4px solid $color;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: hwb(235 7% 84% / 0.278);

}


.link-logo{
  width: 2%;
}

// nav {
//   display: block;
// }

body {
  background-color: #1d3c56;
  color: white;

}

.players-section{
  border: 4px solid yellow;
}

.players{
  width: 100px;
  height: 150px;
}

.players img{
  width: 100%;
  height: auto;
}
